@page "/recipes/details"
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppRecipe.Models
@inject IDbContextFactory<BlazorAppRecipe.Data.BlazorAppRecipeContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Recipe</h2>
    <hr />
    @if (recipe is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@recipe.Title</dd>
            <dt class="col-sm-2">ReleaseDate</dt>
            <dd class="col-sm-10">@recipe.ReleaseDate</dd>
            <dt class="col-sm-2">Ingredients</dt>
            <dd class="col-sm-10">@recipe.Ingredients</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@recipe.Price</dd>
        </dl>
        <div>
            <a href="@($"/recipes/edit?id={recipe.Id}")">Edit</a> |
            <a href="@($"/recipes")">Back to List</a>
        </div>
    }
</div>

@code {
    private Recipe? recipe;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        recipe = await context.Recipe.FirstOrDefaultAsync(m => m.Id == Id);

        if (recipe is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
